@model ICollection<MissionViewModel>
@{
    ViewData["Title"] = "Active Missions";
}

<div class="site-content">
    <div class="card">
        <div class="card-body">
            <form asp-action="Search" class="row">
                @Html.AntiForgeryToken()
                <div class="col-md-2">
                    <b>Search missions</b>
                </div>
                <div class="col-md-6">
                    <label for="searchKey" class="visually-hidden">Search</label>
                    <input type="text" class="form-control" id="searchKey" name="searchKey" placeholder="Enter a text">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Search</button>
                </div>
            </form>
            <b>Total active missions: @Model.Count</b>
        </div>
    </div><br /><br />

    @foreach (var item in Model)
    {
        <div class="card">
            @* <img src="..." class="card-img-top" alt="..."> *@
            <div class="card-body">
                <h3 class="card-title">@item.Name</h3>
                @if (item.IsClassified)
                {
                    <span class="badge badge-completed rounded-pill">Classified</span>
                }
                <p class="card-text">@Html.Raw(item.ShortDescription) ...</p>
                <a asp-controller="Missions" asp-action="Detail" asp-route-urlkey="@item.UrlKey" class="btn btn-primary">Read more</a>
            </div>
        </div>
    }
</div>